@import "_fonts.css";

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: "Onest", sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}
